<?xml version='1.0' encoding='utf-8'?>
<plugin id="com-orica-webviewcookies-cookies" version="0.0.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>UIWebViewCookies</name>
    <description>UIWebViewCookies Save / load http cookies Cordova Plugin</description>
    <license>MIT</license>
    <keywords>cordova,cookies</keywords>
    <js-module name="UIWebViewCookies" src="www/UIWebViewCookies.js">
        <clobbers target="uiwebviewcookies" />
    </js-module>
    <hook type="after_plugin_add" src="hooks/after_plugin_add.js" />
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="UIWebViewCookies">
                <param name="browser-package" value="UIWebViewCookies" />
            </feature>
        </config-file>

        <js-module src="src/browser/UIWebViewCookiesProxy.js" name="UIWebViewCookiesProxy">
            <runs />
        </js-module>
    </platform>
	<platform name="android">
		<config-file target="config.xml" parent="/*">
			<feature name="UIWebViewCookies">
				<param name="android-package" value="com.uiwebviewcookies.plugin.UIWebViewCookies" />
			</feature>
		</config-file>
        <source-file src="src/android/com/uiwebviewcookies/plugin/UIWebViewCookies.java" target-dir="src/com/uiwebviewcookies/plugin" />
	</platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="UIWebViewCookies">
                <param name="ios-package" value="UIWebViewCookies" />
            </feature>
        </config-file>
        <header-file src="src/ios/UIWebViewCookies.h" />
        <source-file src="src/ios/UIWebViewCookies.m" />
    </platform>
</plugin>
